{
  pastebin_domain: 'pastebin.example.com',
  elm_playground_domain: 'elm.example.com',
  elm_pomodoro_domain: 'pomodoro.example.com',
  mongo_express_domain: 'mongo.example.com',
  httpmongo_domain: 'httpmongo.example.com',
  unstable_http_server_domain: 'unstable.example.com',
  homepage_domain: 'homepage.example.com',
  sssnek_domain: 'sssnek.example.com',
  adminer_domain: 'adminer.example.com',
  grafana_domain: 'grafana.example.com',
  meta_domain: 'meta.example.com',

  postgresql_postgres_password: "some-difficult-password",
  mariadb_root_password: "some-difficult-password",

  korova_token: std.base64('some-discord-token'),
  korova_owm_apikey: std.base64('0123456789abcdef'),

  digitalocean_apikey: std.base64('0123456789abcdef'),

  admin_email: 'admin@example.com',
  domains: ['example.com', '*.example.com'],

  // Create with `htpasswd -nb user password | base64 -`.
  basic_auth_users: 'dXNlcjokYXByMSRiZmtBd2U4TyRXM2lMWnJtYUlNcEZyUXJ1cGwwOVIxCgo=',
}
