{
  pastebin_domain: "pastebin.example.com",
  elm_playground_domain: "elm.example.com",
  elm_pomodoro_domain: "pomodoro.example.com",
  blog_domain: "blog.example.com",
  mongo_express_domain: "mongo.example.com",
  httpmongo_domain: "httpmongo.example.com",

  # Create with `htpasswd -nb user password | base64 -`.
  basic_auth_users: "dXNlcjokYXByMSRiZmtBd2U4TyRXM2lMWnJtYUlNcEZyUXJ1cGwwOVIxCgo=",
}

